:root {
    --color-text-light: rgb(246, 235, 207);
}

.shopping-categories__background {
    background-image: url("project://database/Assets/_Project/art/Background.png?fileID=2800000&guid=8f1fb991d00f14841a4bb1cd65aade40&type=3#Background");
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    padding-top: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 2.5%;
    background-size: 100% 100%;
    flex-shrink: 1;
}

.shopping-categories__panel {
    flex-grow: 0;
    width: 72%;
    max-width: 1080px;
    min-width: 880px;
    height: 78%;
    max-height: 760px;
    min-height: 520px;
    background-image: url("project://database/Assets/_Project/art/Painel_1.png?fileID=2800000&guid=26270dc7f0be1c440925053e0e76186f&type=3#Painel_1");
    align-self: center;
    justify-content: flex-start;
    padding-top: 1.2%;
    padding-left: 1.2%;
    padding-right: 1.2%;
    padding-bottom: 2%;
}

.shopping-categories__header {
    background-image: url("project://database/Assets/_Project/art/Top_Bar.png?fileID=2800000&guid=8b033a12654eacd48ad3b0bcaa9cd1c6&type=3#Top_Bar");
    flex-direction: row;
    width: 100%;
    height: 96px;
    min-height: 82px;
    max-height: 110px;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.2%;
    padding-top: 0;
    padding-right: 2%;
    padding-bottom: 0;
}

.shopping-categories__title {
    flex-grow: 1;
    align-self: center;
    -unity-font-definition: url("project://database/Assets/_Project/Fonts/Baloo-Regular.ttf?fileID=12800000&guid=df6fae99ef3376f4ba0c6157fc122b52&type=3#Baloo-Regular");
    -unity-font-style: bold;
    font-size: 44px;
    color: rgb(228, 221, 181);
    -unity-text-align: middle-center;
    -unity-text-outline-width: 2px;
    -unity-text-outline-color: rgba(101, 49, 35, 0.9);
    text-shadow: 2px 3px 0 rgb(101, 49, 35);
    margin-left: 12px;
    margin-right: 12px;
    flex-shrink: 1;
}

.shopping-categories__icon-button {
    width: 56px;
    min-width: 48px;
    max-width: 64px;
    height: 56px;
    min-height: 48px;
    max-height: 64px;
    background-color: rgba(255, 255, 255, 0);
    background-size: contain;
    -unity-background-scale-mode: scale-to-fit;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.shopping-categories__close-button {
    background-image: url("project://database/Assets/_Project/art/x.png?fileID=2800000&guid=b7a5a7032aa614347a348cf08ef53a59&type=3#x");
}

.shopping-categories__content {
    flex-grow: 1;
    padding-top: 2.4%;
    background-color: rgba(0, 0, 0, 0);
    padding-left: 2.8%;
    padding-right: 2.8%;
    padding-bottom: 2.4%;
}

.shopping-categories__grid {
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}

.shopping-categories__back-button {
    background-image: url("project://database/Assets/_Project/art/btn_back.png?fileID=2800000&guid=8d056a93d9555df458999d4ec78eba49&type=3#btn_back");
}
