.shopping-category-card {
    width: 313px;
    height: 232px;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin-right: 17px;
    margin-bottom: 12px;
    margin-left: 17px;
}

.shopping-category-card__frame {
    width: 313px;
    height: 232px;
    justify-content: center;
    background-image: url("project://database/Assets/_Project/art/Img_bg_Buildings.png?fileID=2800000&guid=1c3a82bcb398dea4e930b1d2d6b1a760&type=3#Img_bg_Buildings");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -unity-background-scale-mode: stretch-to-fill;
}

.shopping-category-card__icon {
    position: absolute;
    left: 25px;
    right: 25px;
    top: 22px;
    height: 80%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.shopping-category-card__title-band {
    height: 66px;
    align-items: center;
    justify-content: center;
    background-image: url("project://database/Assets/_Project/art/bg_text.png?fileID=2800000&guid=91336a7c702930f48b108c78661be524&type=3#bg_text");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -unity-background-scale-mode: stretch-to-fill;
}

.shopping-category-card__title {
    margin-top: 10px;
    font-size: 28px;
    -unity-font-style: bold;
    color: rgb(108, 62, 45);
    -unity-font-definition: url("project://database/Assets/_Project/Fonts/Baloo-Regular.ttf?fileID=12800000&guid=df6fae99ef3376f4ba0c6157fc122b52&type=3#Baloo-Regular");
    -unity-text-align: middle-center;
}
